@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------------------------------
   GLOBAL FONT & UI LOOK
---------------------------------- */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500; /* slightly rounded feel */
  letter-spacing: -0.2px;
}


/* background */
body {
  background-color: #f9fafb;
}


/* ----------------------------------
   Flashcard 3D utilities
---------------------------------- */

.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
